# Binary Tree - User's Example

Define User Class

In [123]:
class User():
    def __init__(self, username, name, email):
        self.username = username
        self.name = name
        self.email = email
        print("User created")

    def insert():
        pass

    def find():
        pass

    def update():
        pass

    def list():
        pass

    def __repr__(self):
#        return "User(username='{}', name='{}', email='{}')".format(self.username, self.name, self.email)
        return f'User: {self.username}, Name: {self.name}, email: {self.email}'
  
    def __str__(self):
        return self.__repr__()

In [124]:
user3 = User("anne", "Anne", "anne@home.gg")

User created

In [125]:
print(user3.__str__())

User: anne, Name: Anne, email: anne@home.gg

In [126]:
user3

User: anne, Name: Anne, email: anne@home.gg

In [127]:
aakash = User('aakash', 'Aakash Rai', 'aakash@example.com')
biraj = User('biraj', 'Biraj Das', 'biraj@example.com')
hemanth = User('hemanth', 'Hemanth Jain', 'hemanth@example.com')
jadhesh = User('jadhesh', 'Jadhesh Verma', 'jadhesh@example.com')
siddhant = User('siddhant', 'Siddhant Sinha', 'siddhant@example.com')
sonaksh = User('sonaksh', 'Sonaksh Kumar', 'sonaksh@example.com')
vishal = User('vishal', 'Vishal Goel', 'vishal@example.com')

User created
User created
User created
User created
User created
User created
User created

Create Class for all users

In [128]:
users = [aakash, biraj, hemanth, jadhesh, siddhant, sonaksh, vishal]

In [129]:
users

[User: aakash, Name: Aakash Rai, email: aakash@example.com,
 User: biraj, Name: Biraj Das, email: biraj@example.com,
 User: hemanth, Name: Hemanth Jain, email: hemanth@example.com,
 User: jadhesh, Name: Jadhesh Verma, email: jadhesh@example.com,
 User: siddhant, Name: Siddhant Sinha, email: siddhant@example.com,
 User: sonaksh, Name: Sonaksh Kumar, email: sonaksh@example.com,
 User: vishal, Name: Vishal Goel, email: vishal@example.com]

In [130]:
biraj.username, biraj.email, biraj.name

('biraj', 'biraj@example.com', 'Biraj Das')

In [131]:
print(aakash)

User: aakash, Name: Aakash Rai, email: aakash@example.com

In [132]:
class UserDatabase:
    def __init__(self):
        self.users = []

    def insert(self, user):
        i = 0
        while i < len(self.users):
            if self.users[i].username > user.username:
                break
            i += 1
        self.users.insert(i, user)

    def find(self, username):
        for user in self.users:
            if user.username == username:
                return user

    def update(self, user):
        target = self.find(user.username)
        target.name, target.email = user.name, user.email

    def list(self):
        return self.users

In [133]:
database = UserDatabase()

In [134]:
## Test database functions

In [136]:
database.insert(hemanth)
database.insert(aakash)
database.insert(siddhant)

In [137]:
user = database.find('siddhant')
user

User: siddhant, Name: Siddhant Sinha, email: siddhant@example.com

In [138]:
database.update(User(username='siddhant',
                     name='Suddhant U',
                     email = 'siddhantu@example.com'))

User created

In [139]:
user = database.find('siddhant')
user

User: siddhant, Name: Suddhant U, email: siddhantu@example.com

In [140]:
database.list()

[User: aakash, Name: Aakash Rai, email: aakash@example.com,
 User: hemanth, Name: Hemanth Jain, email: hemanth@example.com,
 User: siddhant, Name: Suddhant U, email: siddhantu@example.com]

In [141]:
database.insert(biraj)

In [142]:
database.list()

[User: aakash, Name: Aakash Rai, email: aakash@example.com,
 User: biraj, Name: Biraj Das, email: biraj@example.com,
 User: hemanth, Name: Hemanth Jain, email: hemanth@example.com,
 User: siddhant, Name: Suddhant U, email: siddhantu@example.com]

In [144]:
%%time
for i in range(100000000):
    j = i*i

CPU times: user 11.1 s, sys: 0 ns, total: 11.1 s
Wall time: 11.1 s

## Simple Binary Tree

<img src="https://i.imgur.com/hg2ZG5h.png" width="240">

In [242]:
class TreeNode:
    def __init__(self, key):
        self.key = key
        self.left = None
        self.right = None

#    def __repr__(self):
#        return f'Key: {self.key}\t Left: {self.left}\t Right: {self.right}'

#    def __str__(self):
#        return self.__repr__()

In [243]:
node0 = TreeNode(3)
node1 = TreeNode(4)
node2 = TreeNode(5)

In [244]:
node0.key

3

In [245]:
node0

In [246]:
node0.left = node1
node0.right = node2

### Create a variable for the root node

In [247]:
tree = node0

In [248]:
tree.key

3

In [249]:
tree.left.key

4

In [250]:
tree.right.key

5

<img src="https://i.imgur.com/d7djJAf.png" width="540">

In [251]:
node1 = TreeNode(1)

In [252]:
node3 = TreeNode(3)

In [253]:
node1.left = node3

It's a bit inconvenient to create a tree by manually connecting all the nodes. Let's write a helper function which can convert a tuple with the structure `( left_subtree, key, right_subtree)` (where `left_subtree` and `right_subtree` are themselves tuples) into binary tree.

Here's an tuple representing the tree shown above:

In [254]:
tree_tuple = ((1,3,None), 2, ((None, 3, 4), 5, (6, 7, 8)))

In [255]:
def parse_tuple(data):
    print(data)
    if isinstance(data, tuple) and len(data) == 3:
        node = TreeNode(data[1])
        node.left = parse_tuple(data[0])
        node.right = parse_tuple(data[2])
#        print(f'isinstance: data {data} \t {node}')

    elif data is None:
        node = None
#        print(f'data is None: data {data} \t {node}')

    else:
        node = TreeNode(data)
#        print(f'else: data {data} \t {node}')

    return node

In [256]:
tree2 = parse_tuple(tree_tuple)
tree2

((1, 3, None), 2, ((None, 3, 4), 5, (6, 7, 8)))
(1, 3, None)
1
None
((None, 3, 4), 5, (6, 7, 8))
(None, 3, 4)
None
4
(6, 7, 8)
6
8

In [257]:
tree2.key

2

In [258]:
tree2.left.key, tree2.right.key

(3, 5)

In [259]:
tree2.left.left.key, tree2.left.right, tree2.right.left.key, tree2.right.right.key

(1, None, 3, 7)

In [260]:
tree2.right.left.right.key, tree2.right.right.left.key, tree2.right.right.right.key

(4, 6, 8)

In [265]:
def tree_to_tuple(tree):
    if tree is None:
        return None
    if tree.left is None and tree.right is None:
        return tree.key
    return tree_to_tuple(tree.left),tree.key,tree_to_tuple(tree.right)

In [266]:
tree_to_tuple(tree2)

((1, 3, None), 2, ((None, 3, 4), 5, (6, 7, 8)))